<div class="content">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Please Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="example-container"><br>
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput [(ngModel)]="user.username" name="username">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput [(ngModel)]="user.password" type="password" name="password">
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="login()">Enter</button>
    </mat-card-actions><br>
  </mat-card>
</div>
