<div id="maincontainer">
  <div id="leftcolumn">
    <mat-card style="max-width: 500px; padding: 20px">
      <mat-card-header>
        <mat-card-title>{{gym.name}}</mat-card-title>
      </mat-card-header>
      <mat-card>
        <img mat-card-image src="{{gym.logo}}}" alt="Photo gym">
        <mat-card-content>
          <mat-card-title>Address: {{gym.address}}</mat-card-title>
          <mat-card-title>City: {{gym.city}}</mat-card-title>
          <mat-card-title>Area: {{gym.area}}</mat-card-title>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" *ngIf="user.isAdmin" (click)="openEditGym(gym.id)">Update</button>
          <button mat-raised-button color="accent" *ngIf="user.isAdmin" (click)="deleteGym(gym.id)">Delete</button>
          <button mat-stroked-button color="primary"
                  [routerLink]="['/home/'+ username + '/find-all-gyms/' + gym.id + '/find-all-worktime'+gym.id]">Show
            Work
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-card>
  </div>
  <div id="contentwrapper">
    <router-outlet></router-outlet>
  </div>
</div>
