.mat-tab-label{
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: red;
  font-weight: 700;
}

.mat-tab-label.mat-tab-label.active{
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: red;
  font-weight: 800;
}

.mat-ink-bar{
  background-color: green;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ddd;
  color: black;
  text-align: center;
}
